<h1><%=current_user.name%> の とぅどぅー</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タスク</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% Array(@tasks).each do |task| %>
        <tr>
          <!--<td><%= link_to(task.id, task_path(task))%></td>-->
          <td><%= link_to(task.content, task_path(task)) %></td>
          <td><%= task.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate(@tasks) %>
  </div>
<% end %>

<%=link_to('新規作成', new_task_path(), class: "btn btn-primary")%>